<!-- lecture_detail.html -->

{% extends 'base.html' %}
{% load static %}
{% block main_area %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lecture_detail_styles.css' %}">

<div class="header-box" style="background: url('{% static 'img/pattern.png' %}') repeat">
  <img id="profile" src="{% static 'img/profile.png' %}" alt="Profile Image">
  <div>
    <p class="name">{{ lecture.name }}</p>
    <p class="professor">{{ lecture.professor }}</p>
  </div>
</div>

<div class="container my-4">
  <h6>주차 별 학습 활동</h6>
  <div class="activity-list">
    {% for activity in lecture.activity_set.all %}
      <div class="activity-box">
        <p class="activity-title">{{ activity.title }}</p>
        <ul>
          {% for assignment in activity.assignment_set.all %}
            <li>과제: {{ assignment.title }}</li>
          {% endfor %}
          {% for quiz in activity.quiz_set.all %}
            <li>퀴즈: {{ quiz.title }}</li>
          {% endfor %}
        </ul>
        <div class="add-activity">
          <a href="{% url 'activity_detail' activity.id %}" class="btn btn-success">+ 활동 추가</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
