<!-- lecture_list.html -->

{% extends 'base.html' %}
{% load static %}
{% block main_area %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lecture_list_styles.css' %}">
<div class="container my-4">
  <h4>강좌 전체보기</h4>
  <ul>
    {% for lecture in lectures %}
      <li>
        <a href="{% url 'lecture_detail' lecture.id %}">
          <img id="profile" src="{% static 'img/profile.png' %}" alt="Profile Image">
          <img id="lect" src="{% static 'img/lect.png' %}" alt="lecture Image">
          <div>
            <p>{{ lecture.name }}</p>
            <p>{{ lecture.professor }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
